# Ignore all log files
*.log

# Ignore environment files
.env

# Ignore node_modules folder
node_modules/

# Ignore specific file
secret_config.json

# Ignore all files inside the "temp" folder
temp/
