<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded">
        <h2 class="text-center text-primary mb-4">Add Booking</h2>
        
        <div class="mb-3">
            <label class="form-label"><strong>User ID</strong></label>
            <input type="text" [(ngModel)]="newBooking.userId" class="form-control" placeholder="Enter User ID">
        </div>

        <div class="mb-3">
            <label class="form-label"><strong>Event ID</strong></label>
            <input type="text" [(ngModel)]="newBooking.eventId" class="form-control" placeholder="Enter Event ID">
        </div>

        <div class="mb-3">
            <label class="form-label"><strong>Seat Numbers</strong></label>
            <input type="text" [(ngModel)]="seatNumberInput" class="form-control" placeholder="Enter Seat Numbers (comma separated)">
        </div>

        <div class="mb-3">
            <label class="form-label"><strong>Booking Date</strong></label>
            <input type="text" [(ngModel)]="newBooking.bookingDate" 
                   [value]="newBooking.bookingDate | date:'yyyy-MM-dd HH:mm:ss'" 
                   class="form-control" readonly>
        </div>

        <!-- <div class="mb-3">
            <label class="form-label"><strong>Status</strong></label>
            <p class="form-control bg-light">Pending</p>
        </div> -->

        <button class="btn btn-primary w-100" (click)="addBookings()">Add Booking</button>
    </div>
</div>
