<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container">
      <a class="navbar-brand fw-bold" href="#">🎫 Ticket Booking System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/welcomedashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/getallbookings">Bookings</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/updatebooking">Update Booking</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/register">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/login">Login</a>
              </li>
          </ul>
      </div>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">🎫 Ticket Booking System</a>

    Mobile Menu Button
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    Navbar Links
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/addbooking">Add Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/updatebooking">Update Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light px-3" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
this is my navbar html -->